In [60]:
# Run the command below to install sql conn for first time users
# pip install mysql-connector-python

In [207]:
import mysql.connector
import numpy as np
import pandas as pd

In [208]:
# Cursor Setup
auth = np.loadtxt('auth.txt', dtype = str)
labels = ['username', 'password', 'host', 'database']
config = dict(zip(labels, list(auth)))

#conn = mysql.connector.connect(username='root', password ='admin123', host='127.0.0.1', database='pharmacy')
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

# Table Creation

med_table = 'CREATE TABLE Medications (med_id INTEGER PRIMARY KEY, med_name VARCHAR(255), unit_price DECIMAL(10,2), expiration_date DATE)'
cursor.execute(med_table)

patient_table = 'CREATE TABLE Patients (patient_id INTEGER PRIMARY KEY, patient_fname VARCHAR(255), patient_lname VARCHAR(255), phone_number VARCHAR(255), insurance VARCHAR(255))'
cursor.execute(patient_table)

prescription_table = 'CREATE TABLE Prescriptions (prescription_id INTEGER PRIMARY KEY, med_id INTEGER, patient_id INTEGER, dosage INTEGER, date_prescribed DATE, prescribing_doctor VARCHAR(255), FOREIGN KEY (med_id) REFERENCES Medications(med_id), FOREIGN KEY (patient_id) REFERENCES Patients(patient_id))'
cursor.execute(prescription_table)

cursor.close()
conn.close()

In [209]:
# Populating Medications Table
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

med = pd.read_csv('meds.csv', header = None)
med.columns = ['med_id', 'med_name', 'unit_price', 'expiration_date' ]
med.head()

for i in range(len(med)):
    med_id = med.iloc[i]['med_id']
    med_name = med.iloc[i]['med_name']
    unit_price = med.iloc[i]['unit_price']
    expiration_date = med.iloc[i]['expiration_date']
    query = "INSERT INTO Medications VALUES ('{med_id}', '{med_name}', '{unit_price}', '{expiration_date}')".\
        format(med_id = med_id, med_name = med_name, unit_price = unit_price, expiration_date = expiration_date)
    print ("Executing: ", query)
    cursor.execute(query)

cursor.execute('commit')
cursor.close()
conn.close()

Executing:  INSERT INTO Medications VALUES ('1', 'Aspirin', '402', '2024-03-31')
Executing:  INSERT INTO Medications VALUES ('2', 'Ibuprofen', '266', '2024-05-29')
Executing:  INSERT INTO Medications VALUES ('3', 'Acetaminophen', '407', '2025-01-11')
Executing:  INSERT INTO Medications VALUES ('4', 'Amoxicillin', '175', '2024-06-20')
Executing:  INSERT INTO Medications VALUES ('5', 'Metformin', '412', '2024-04-01')
Executing:  INSERT INTO Medications VALUES ('6', 'Lipitor', '171', '2024-11-09')
Executing:  INSERT INTO Medications VALUES ('7', 'Zoloft', '376', '2024-04-10')
Executing:  INSERT INTO Medications VALUES ('8', 'Prozac', '57', '2024-09-06')
Executing:  INSERT INTO Medications VALUES ('9', 'Tylenol', '342', '2024-01-26')
Executing:  INSERT INTO Medications VALUES ('10', 'Advil', '217', '2025-02-08')
Executing:  INSERT INTO Medications VALUES ('11', 'Nexium', '133', '2024-03-18')
Executing:  INSERT INTO Medications VALUES ('12', 'Zithromax', '128', '2024-03-25')
Executing:  INSERT INTO Medications VALUES ('13', 'Prednisone', '127', '2024-11-24')
Executing:  INSERT INTO Medications VALUES ('14', 'Synthroid', '253', '2025-04-15')
Executing:  INSERT INTO Medications VALUES ('15', 'Lisinopril', '479', '2025-03-15')
Executing:  INSERT INTO Medications VALUES ('16', 'Plavix', '373', '2024-12-28')
Executing:  INSERT INTO Medications VALUES ('17', 'Crestor', '185', '2025-02-02')
Executing:  INSERT INTO Medications VALUES ('18', 'Albuterol', '164', '2024-01-10')
Executing:  INSERT INTO Medications VALUES ('19', 'Prilosec', '121', '2024-06-28')
Executing:  INSERT INTO Medications VALUES ('20', 'Celebrex', '248', '2024-07-05')
Executing:  INSERT INTO Medications VALUES ('21', 'Xanax', '209', '2025-01-05')
Executing:  INSERT INTO Medications VALUES ('22', 'Benadryl', '475', '2024-07-07')
Executing:  INSERT INTO Medications VALUES ('23', 'Ventolin', '126', '2025-04-24')
Executing:  INSERT INTO Medications VALUES ('24', 'Metoprolol', '298', '2024-11-15')
Executing:  INSERT INTO Medications VALUES ('25', 'Flonase', '308', '2025-03-15')
Executing:  INSERT INTO Medications VALUES ('26', 'Ciprofloxacin', '108', '2024-11-27')
Executing:  INSERT INTO Medications VALUES ('27', 'Ritalin', '302', '2024-08-25')
Executing:  INSERT INTO Medications VALUES ('28', 'Augmentin', '242', '2024-02-13')
Executing:  INSERT INTO Medications VALUES ('29', 'Cannabis', '328', '2024-02-05')
Executing:  INSERT INTO Medications VALUES ('30', 'Adderall', '108', '2024-09-08')

In [210]:
# Populating Patients Table
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

patient = pd.read_csv('pats.csv', header = None)
patient.columns = ['patient_id', 'patient_fname', 'patient_lname', 'phone_number', 'insurance']
patient.head()

for i in range(len(patient)):
    patient_id = patient.iloc[i]['patient_id']
    patient_fname = patient.iloc[i]['patient_fname']
    patient_lname = patient.iloc[i]['patient_lname']
    phone_number = patient.iloc[i]['phone_number']
    insurance = patient.iloc[i]['insurance']
    query = "INSERT INTO Patients VALUES ('{patient_id}', '{patient_fname}', '{patient_lname}', '{phone_number}', '{insurance}')".\
        format(patient_id = patient_id, patient_fname = patient_fname, patient_lname = patient_lname, phone_number = phone_number, insurance = insurance)
    print ("Executing: ", query)
    cursor.execute(query)

cursor.execute('commit')
cursor.close()
conn.close()

Executing:  INSERT INTO Patients VALUES ('1001', 'Odessa', 'Lindemann', '718-123-4567', 'Excellus BlueCross BlueShield')
Executing:  INSERT INTO Patients VALUES ('1002', 'Candi', 'Claudine', '347-987-6543', 'Oscar Health Insurance')
Executing:  INSERT INTO Patients VALUES ('1003', 'Sheree', 'Maurine', '917-555-1234', 'Healthfirst')
Executing:  INSERT INTO Patients VALUES ('1004', 'Merle', 'Marisa', '646-987-6543', 'Healthfirst')
Executing:  INSERT INTO Patients VALUES ('1005', 'Beverley', 'Azeria', '718-456-7890', 'MVP Health Care')
Executing:  INSERT INTO Patients VALUES ('1006', 'Theodora', 'Prober', '347-321-6549', 'Fidelis Care')
Executing:  INSERT INTO Patients VALUES ('1007', 'Brietta', 'Shaver', '917-789-1234', 'Excellus BlueCross BlueShield')
Executing:  INSERT INTO Patients VALUES ('1008', 'Cherilyn', 'Ummersen', '646-234-5678', 'Fidelis Care')
Executing:  INSERT INTO Patients VALUES ('1009', 'Esmeralda', 'Noelyn', '718-890-1234', 'Healthfirst')
Executing:  INSERT INTO Patients VALUES ('1010', 'Teriann', 'Alisia', '347-567-8901', 'Healthfirst')
Executing:  INSERT INTO Patients VALUES ('1011', 'Hallie', 'Japeth', '917-234-5678', 'MetroPlus Health Plan')
Executing:  INSERT INTO Patients VALUES ('1012', 'Estell', 'Merell', '646-456-7890', 'MetroPlus Health Plan')
Executing:  INSERT INTO Patients VALUES ('1013', 'Alameda', 'Hermes', '718-678-9012', 'MetroPlus Health Plan')
Executing:  INSERT INTO Patients VALUES ('1014', 'Genevra', 'Linehan', '347-890-1234', 'Oscar Health Insurance')
Executing:  INSERT INTO Patients VALUES ('1015', 'Mallory', 'Krystle', '917-345-6789', 'MVP Health Care')
Executing:  INSERT INTO Patients VALUES ('1016', 'Jasmina', 'Lindemann', '646-567-8901', 'Fidelis Care')
Executing:  INSERT INTO Patients VALUES ('1017', 'Lacie', 'Armanda', '718-901-2345', 'EmblemHealth')
Executing:  INSERT INTO Patients VALUES ('1018', 'Philis', 'Curren', '347-012-3456', 'Fidelis Care')
Executing:  INSERT INTO Patients VALUES ('1019', 'Millie', 'Pulsifer', '917-789-0123', 'MetroPlus Health Plan')
Executing:  INSERT INTO Patients VALUES ('1020', 'Rani', 'Jarib', '646-234-5678', 'Oscar Health Insurance')
Executing:  INSERT INTO Patients VALUES ('1021', 'Mellicent', 'Ferrell', '718-345-6789', 'Excellus BlueCross BlueShield')
Executing:  INSERT INTO Patients VALUES ('1022', 'Caritta', 'Odysseus', '347-901-2345', 'Oscar Health Insurance')
Executing:  INSERT INTO Patients VALUES ('1023', 'Zsa Zsa', 'Dulciana', '917-012-3456', 'Fidelis Care')
Executing:  INSERT INTO Patients VALUES ('1024', 'Netty', 'Felizio', '646-789-0123', 'Oscar Health Insurance')
Executing:  INSERT INTO Patients VALUES ('1025', 'Genovera', 'Cressida', '718-234-5678', 'Excellus BlueCross BlueShield')
Executing:  INSERT INTO Patients VALUES ('1026', 'Quintina', 'ONeill', '347-567-8901', 'Healthfirst')
Executing:  INSERT INTO Patients VALUES ('1027', 'Viviene', 'Berriman', '917-890-1234', 'MetroPlus Health Plan')
Executing:  INSERT INTO Patients VALUES ('1028', 'Gwenneth', 'Obed', '646-901-2345', 'MVP Health Care')
Executing:  INSERT INTO Patients VALUES ('1029', 'Beatriz', 'Federica', '718-456-7890', 'Healthfirst')
Executing:  INSERT INTO Patients VALUES ('1030', 'Esmeralda', 'Aldric', '347-789-0123', 'Fidelis Care')
Executing:  INSERT INTO Patients VALUES ('1031', 'Raina', 'Ethban', '917-234-5678', 'Excellus BlueCross BlueShield')
Executing:  INSERT INTO Patients VALUES ('1032', 'Marline', 'Anderea', '646-567-8901', 'Fidelis Care')
Executing:  INSERT INTO Patients VALUES ('1033', 'Jacenta', 'Haldas', '718-890-1234', 'Excellus BlueCross BlueShield')
Executing:  INSERT INTO Patients VALUES ('1034', 'Deirdre', 'Kazimir', '347-012-3456', 'EmblemHealth')
Executing:  INSERT INTO Patients VALUES ('1035', 'Camile', 'Vernier', '917-345-6789', 'Excellus BlueCross BlueShield')
Executing:  INSERT INTO Patients VALUES ('1036', 'Trixi', 'Selway', '646-678-9012', 'Fidelis Care')
Executing:  INSERT INTO Patients VALUES ('1037', 'Mignon', 'Louanna', '718-901-2345', 'Excellus BlueCross BlueShield')
Executing:  INSERT INTO Patients VALUES ('1038', 'Sonni', 'Trace', '347-234-5678', 'Excellus BlueCross BlueShield')
Executing:  INSERT INTO Patients VALUES ('1039', 'Kirstin', 'Junie', '917-567-8901', 'Oscar Health Insurance')
Executing:  INSERT INTO Patients VALUES ('1040', 'Averyl', 'Rurik', '646-890-1234', 'Fidelis Care')
Executing:  INSERT INTO Patients VALUES ('1041', 'Winny', 'Chauncey', '718-012-3456', 'Healthfirst')
Executing:  INSERT INTO Patients VALUES ('1042', 'Bee', 'Melony', '347-345-6789', 'EmblemHealth')
Executing:  INSERT INTO Patients VALUES ('1043', 'Sean', 'Lytton', '917-678-9012', 'EmblemHealth')
Executing:  INSERT INTO Patients VALUES ('1044', 'Harmonia', 'Ferino', '646-901-2345', 'Excellus BlueCross BlueShield')
Executing:  INSERT INTO Patients VALUES ('1045', 'Theodora', 'Genna', '718-456-7890', 'EmblemHealth')
Executing:  INSERT INTO Patients VALUES ('1046', 'Cyndie', 'Dituri', '347-789-0123', 'Oscar Health Insurance')
Executing:  INSERT INTO Patients VALUES ('1047', 'Rosanne', 'Cloris', '917-012-3456', 'Fidelis Care')
Executing:  INSERT INTO Patients VALUES ('1048', 'Marguerite', 'Lymann', '646-234-5678', 'MetroPlus Health Plan')
Executing:  INSERT INTO Patients VALUES ('1049', 'Kara-Lynn', 'Pauly', '718-567-8901', 'MVP Health Care')
Executing:  INSERT INTO Patients VALUES ('1050', 'Mahalia', 'Parsaye', '347-890-1234', 'MetroPlus Health Plan')

In [211]:
# Populating Prescriptions Table
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

pscrip = pd.read_csv('scrip.csv', header = None)
pscrip.columns = ['prescription_id', 'med_id', 'patient_id', 'dosage', 'date_prescribed', 'prescribing_doctor']
pscrip.head()

for i in range(len(pscrip)):
    prescription_id = pscrip.iloc[i]['prescription_id']
    med_id = pscrip.iloc[i]['med_id']
    patient_id = pscrip.iloc[i]['patient_id']
    dosage = pscrip.iloc[i]['dosage']
    date_prescribed = pscrip.iloc[i]['date_prescribed']
    prescribing_doctor = pscrip.iloc[i]['prescribing_doctor']
    query = "INSERT INTO Prescriptions VALUES ('{prescription_id}', '{med_id}', '{patient_id}', '{dosage}', '{date_prescribed}', '{prescribing_doctor}')".\
        format(prescription_id = prescription_id, med_id = med_id, patient_id = patient_id, dosage = dosage, date_prescribed = date_prescribed, prescribing_doctor = prescribing_doctor)
    print ("Executing: ", query)
    cursor.execute(query)

cursor.execute('commit')
cursor.close()
conn.close()

Executing:  INSERT INTO Prescriptions VALUES ('10001', '12', '1001', '38', '2022-04-02', 'Dr.Patel')
Executing:  INSERT INTO Prescriptions VALUES ('10002', '10', '1002', '25', '2022-03-01', 'Dr.Collins')
Executing:  INSERT INTO Prescriptions VALUES ('10003', '21', '1003', '74', '2022-03-03', 'Dr.Thompson')
Executing:  INSERT INTO Prescriptions VALUES ('10004', '22', '1004', '43', '2022-10-23', 'Dr.Sullivan')
Executing:  INSERT INTO Prescriptions VALUES ('10005', '19', '1005', '45', '2022-05-29', 'Dr.Rodriguez')
Executing:  INSERT INTO Prescriptions VALUES ('10006', '2', '1006', '24', '2022-07-25', 'Dr.Rodriguez')
Executing:  INSERT INTO Prescriptions VALUES ('10007', '16', '1007', '37', '2022-04-13', 'Dr.Sullivan')
Executing:  INSERT INTO Prescriptions VALUES ('10008', '7', '1008', '38', '2022-03-28', 'Dr.Sullivan')
Executing:  INSERT INTO Prescriptions VALUES ('10009', '25', '1009', '24', '2022-06-26', 'Dr.Thompson')
Executing:  INSERT INTO Prescriptions VALUES ('10010', '12', '1010', '43', '2023-01-06', 'Dr.Collins')
Executing:  INSERT INTO Prescriptions VALUES ('10011', '1', '1011', '52', '2022-01-13', 'Dr.Thompson')
Executing:  INSERT INTO Prescriptions VALUES ('10012', '2', '1012', '58', '2022-12-22', 'Dr.Mitchell')
Executing:  INSERT INTO Prescriptions VALUES ('10013', '6', '1013', '73', '2022-10-13', 'Dr.Sullivan')
Executing:  INSERT INTO Prescriptions VALUES ('10014', '23', '1014', '29', '2022-06-01', 'Dr.Nguyen')
Executing:  INSERT INTO Prescriptions VALUES ('10015', '1', '1015', '44', '2023-02-21', 'Dr.Sullivan')
Executing:  INSERT INTO Prescriptions VALUES ('10016', '11', '1016', '38', '2023-03-04', 'Dr.Collins')
Executing:  INSERT INTO Prescriptions VALUES ('10017', '25', '1017', '43', '2022-05-07', 'Dr.Sullivan')
Executing:  INSERT INTO Prescriptions VALUES ('10018', '14', '1018', '81', '2022-12-07', 'Dr.Collins')
Executing:  INSERT INTO Prescriptions VALUES ('10019', '14', '1019', '93', '2023-01-07', 'Dr.Patel')
Executing:  INSERT INTO Prescriptions VALUES ('10020', '18', '1020', '64', '2022-02-10', 'Dr.Bennett')
Executing:  INSERT INTO Prescriptions VALUES ('10021', '1', '1021', '49', '2022-12-09', 'Dr.Sullivan')
Executing:  INSERT INTO Prescriptions VALUES ('10022', '11', '1022', '74', '2022-04-21', 'Dr.Collins')
Executing:  INSERT INTO Prescriptions VALUES ('10023', '26', '1023', '75', '2023-02-18', 'Dr.Bennett')
Executing:  INSERT INTO Prescriptions VALUES ('10024', '11', '1024', '91', '2023-05-15', 'Dr.Collins')
Executing:  INSERT INTO Prescriptions VALUES ('10025', '12', '1025', '31', '2022-09-03', 'Dr.Sullivan')
Executing:  INSERT INTO Prescriptions VALUES ('10026', '15', '1026', '37', '2023-01-21', 'Dr.Bennett')
Executing:  INSERT INTO Prescriptions VALUES ('10027', '30', '1027', '85', '2023-04-01', 'Dr.Patel')
Executing:  INSERT INTO Prescriptions VALUES ('10028', '30', '1028', '66', '2022-04-17', 'Dr.Patel')
Executing:  INSERT INTO Prescriptions VALUES ('10029', '11', '1029', '85', '2023-02-08', 'Dr.Mitchell')
Executing:  INSERT INTO Prescriptions VALUES ('10030', '26', '1030', '17', '2022-06-27', 'Dr.Thompson')
Executing:  INSERT INTO Prescriptions VALUES ('10031', '4', '1031', '39', '2022-06-24', 'Dr.Patel')
Executing:  INSERT INTO Prescriptions VALUES ('10032', '9', '1032', '37', '2022-04-11', 'Dr.Collins')
Executing:  INSERT INTO Prescriptions VALUES ('10033', '29', '1033', '28', '2022-08-21', 'Dr.Nguyen')
Executing:  INSERT INTO Prescriptions VALUES ('10034', '23', '1034', '23', '2022-03-16', 'Dr.Collins')
Executing:  INSERT INTO Prescriptions VALUES ('10035', '18', '1035', '54', '2022-03-04', 'Dr.Patel')
Executing:  INSERT INTO Prescriptions VALUES ('10036', '6', '1036', '96', '2022-08-24', 'Dr.Bennett')
Executing:  INSERT INTO Prescriptions VALUES ('10037', '21', '1037', '85', '2023-04-13', 'Dr.Nguyen')
Executing:  INSERT INTO Prescriptions VALUES ('10038', '23', '1038', '39', '2022-03-06', 'Dr.Rodriguez')
Executing:  INSERT INTO Prescriptions VALUES ('10039', '19', '1039', '41', '2022-02-06', 'Dr.Mitchell')
Executing:  INSERT INTO Prescriptions VALUES ('10040', '27', '1040', '15', '2022-07-25', 'Dr.Mitchell')
Executing:  INSERT INTO Prescriptions VALUES ('10041', '19', '1041', '53', '2022-11-02', 'Dr.Collins')
Executing:  INSERT INTO Prescriptions VALUES ('10042', '23', '1042', '85', '2022-08-27', 'Dr.Nguyen')
Executing:  INSERT INTO Prescriptions VALUES ('10043', '27', '1043', '77', '2023-01-08', 'Dr.Sullivan')
Executing:  INSERT INTO Prescriptions VALUES ('10044', '2', '1044', '74', '2022-03-27', 'Dr.Nguyen')
Executing:  INSERT INTO Prescriptions VALUES ('10045', '13', '1045', '70', '2023-01-17', 'Dr.Collins')
Executing:  INSERT INTO Prescriptions VALUES ('10046', '26', '1046', '99', '2022-01-10', 'Dr.Mitchell')
Executing:  INSERT INTO Prescriptions VALUES ('10047', '11', '1047', '50', '2023-01-09', 'Dr.Sullivan')
Executing:  INSERT INTO Prescriptions VALUES ('10048', '19', '1048', '60', '2023-04-17', 'Dr.Bennett')
Executing:  INSERT INTO Prescriptions VALUES ('10049', '22', '1049', '93', '2022-09-10', 'Dr.Mitchell')
Executing:  INSERT INTO Prescriptions VALUES ('10050', '30', '1050', '69', '2023-02-05', 'Dr.Mitchell')

In [212]:
# --Helper Functions--

def SelectQ(table, ide, value):
    sel = "SELECT * FROM `{table}` WHERE `{ide}` = {value}".\
        format(table=table, ide=ide, value=value)
    cursor.execute(sel)
    print("Selected:")
    for record in cursor:
        print(record)
        
def DeleteQ(table, ide, value):
    delete = "DELETE FROM `{table}` WHERE `{ide}` = {value}".\
        format(table=table, ide=ide, value=value)
    cursor.execute(delete)
    cursor.execute('commit')
    print("Deletion completed.")
        
def InsertQ(table, values):
    insert = "INSERT INTO `{table}` VALUES ({values})".\
        format(table=table, values=values)
    cursor.execute(insert)
    cursor.execute('commit')
    print("Insertion completed.")
        
def UpdateQ(table, column, new_value, ide, value):
    update = "UPDATE `{table}` SET `{column}` = '{new_value}' WHERE `{ide}` = {value}".\
        format(table=table, column=column, new_value=new_value, ide=ide, value=value)
    cursor.execute(update)
    cursor.execute('commit')
    print("Update completed.")
    
def executeQ(query):
    cursor.execute(query)
    for record in cursor:
        print(record)
        
# --Helper Function Working--

    
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
    
SelectQ('Medications', 'med_id', 8)
DeleteQ('Medications', 'med_id', 8)
InsertQ('Medications', "'8', 'Brozac', '57', '2024-09-06'")
UpdateQ('Medications', 'med_name', 'Prozac', 'med_id', 8)

conn = mysql.connector.connect(**config)
cursor = conn.cursor()

Selected:
(8, 'Prozac', Decimal('57.00'), datetime.date(2024, 9, 6))
Deletion completed.
Insertion completed.
Update completed.

In [217]:
# --Medications Table Queries--

med_query1_desc = 'Avg Unit Price of Medication Grouped by Expiration Year'
med_query1 = '''
SELECT YEAR(expiration_date) AS expiration_year, AVG(unit_price) AS average_unit_price
FROM Medications
GROUP BY expiration_year
'''

med_query2_desc = 'Sorting By Price (Decreasing)'
med_query2 = '''
SELECT *
FROM Medications
ORDER BY unit_price ASC
'''

med_query3_desc = 'Retrieve the names of all medications prescribed to patients with chosen insurance'
def All_Med_For_Insurance(insurance):
    med_query3 = '''
    SELECT m.med_name, pt.insurance
    FROM Medications m
    INNER JOIN Prescriptions p ON m.med_id = p.med_id
    INNER JOIN Patients pt ON p.patient_id = pt.patient_id
    WHERE pt.insurance = '{insurance}'
    '''.format(insurance=insurance)
    return med_query3
        
med_query4_desc = 'All medication prescribed by chosen doctor and how many times prescribed'

def Doctor_meds_scrip(doctor):
    med_query4 = '''
    SELECT m.med_name, COUNT(*) AS prescription_count
    FROM Medications m
    INNER JOIN Prescriptions p ON m.med_id = p.med_id
    WHERE p.prescribing_doctor = '{doctor}'
    GROUP BY m.med_name
    '''.format(doctor=doctor)
    return med_query4
    
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

print(med_query1_desc)
executeQ(med_query1)
print("\n")
print(med_query2_desc)
executeQ(med_query2)
print("\n")
print(med_query3_desc)
executeQ(All_Med_For_Insurance('MVP Health Care'))
print("\n")
print(med_query4_desc)
executeQ(Doctor_meds_scrip('Dr.Nguyen'))



conn = mysql.connector.connect(**config)
cursor = conn.cursor()

Avg Unit Price of Medication Grouped by Expiration Year
(2024, Decimal('243.454545'))
(2025, Decimal('273.000000'))


Sorting By Price (Decreasing)
(8, 'Prozac', Decimal('57.00'), datetime.date(2024, 9, 6))
(26, 'Ciprofloxacin', Decimal('108.00'), datetime.date(2024, 11, 27))
(30, 'Adderall', Decimal('108.00'), datetime.date(2024, 9, 8))
(19, 'Prilosec', Decimal('121.00'), datetime.date(2024, 6, 28))
(23, 'Ventolin', Decimal('126.00'), datetime.date(2025, 4, 24))
(13, 'Prednisone', Decimal('127.00'), datetime.date(2024, 11, 24))
(12, 'Zithromax', Decimal('128.00'), datetime.date(2024, 3, 25))
(11, 'Nexium', Decimal('133.00'), datetime.date(2024, 3, 18))
(18, 'Albuterol', Decimal('164.00'), datetime.date(2024, 1, 10))
(6, 'Lipitor', Decimal('171.00'), datetime.date(2024, 11, 9))
(4, 'Amoxicillin', Decimal('175.00'), datetime.date(2024, 6, 20))
(17, 'Crestor', Decimal('185.00'), datetime.date(2025, 2, 2))
(21, 'Xanax', Decimal('209.00'), datetime.date(2025, 1, 5))
(10, 'Advil', Decimal('217.00'), datetime.date(2025, 2, 8))
(28, 'Augmentin', Decimal('242.00'), datetime.date(2024, 2, 13))
(20, 'Celebrex', Decimal('248.00'), datetime.date(2024, 7, 5))
(14, 'Synthroid', Decimal('253.00'), datetime.date(2025, 4, 15))
(2, 'Ibuprofen', Decimal('266.00'), datetime.date(2024, 5, 29))
(24, 'Metoprolol', Decimal('298.00'), datetime.date(2024, 11, 15))
(27, 'Ritalin', Decimal('302.00'), datetime.date(2024, 8, 25))
(25, 'Flonase', Decimal('308.00'), datetime.date(2025, 3, 15))
(29, 'Cannabis', Decimal('328.00'), datetime.date(2024, 2, 5))
(9, 'Tylenol', Decimal('342.00'), datetime.date(2024, 1, 26))
(16, 'Plavix', Decimal('373.00'), datetime.date(2024, 12, 28))
(7, 'Zoloft', Decimal('376.00'), datetime.date(2024, 4, 10))
(1, 'Aspirin', Decimal('402.00'), datetime.date(2024, 3, 31))
(3, 'Acetaminophen', Decimal('407.00'), datetime.date(2025, 1, 11))
(5, 'Metformin', Decimal('412.00'), datetime.date(2024, 4, 1))
(22, 'Benadryl', Decimal('475.00'), datetime.date(2024, 7, 7))
(15, 'Lisinopril', Decimal('479.00'), datetime.date(2025, 3, 15))


Retrieve the names of all medications prescribed to patients with chosen insurance
('Prilosec', 'MVP Health Care')
('Aspirin', 'MVP Health Care')
('Adderall', 'MVP Health Care')
('Benadryl', 'MVP Health Care')


All medication prescribed by chosen doctor and how many times prescribed
('Ventolin', 2)
('Cannabis', 1)
('Xanax', 1)
('Ibuprofen', 1)

In [214]:
# --Patients Table Queries--


patient_query1_desc = "All patient names along with the total cost of all their prescriptions"
patient_query1 = '''
SELECT pt.patient_id, pt.patient_fname, pt.patient_lname, SUM(m.unit_price * p.dosage) AS total_cost
FROM Patients pt
JOIN Prescriptions p ON pt.patient_id = p.patient_id
JOIN Medications m ON p.med_id = m.med_id
GROUP BY pt.patient_id, pt.patient_fname, pt.patient_lname
'''

patient_query2_desc = "Find the patients who have been prescribed medication with dosage higher than average"
patient_query2 = '''
SELECT pt.patient_id, pt.patient_fname, pt.patient_lname
FROM Patients pt
INNER JOIN Prescriptions p ON pt.patient_id = p.patient_id
WHERE p.dosage > (
    SELECT AVG(dosage)
    FROM Prescriptions
)
'''

patient_query3_desc = "Find patient information who have a specific insurance type along with prescribing doctor and dosage"

def Patient_Insur_Med_Doc(insurance):
    patient_query3 = '''
    SELECT pt.patient_id, CONCAT(pt.patient_fname, ' ', pt.patient_lname) AS full_name, m.med_name, p.dosage, p.prescribing_doctor
    FROM Patients pt
    JOIN Prescriptions p ON pt.patient_id = p.patient_id
    JOIN Medications m ON p.med_id = m.med_id
    WHERE pt.insurance = '{insurance}'
    '''.format(insurance=insurance)
    return patient_query3


patient_query4_desc = "Find patient whos medicine will expire before a given date"
def Patient_Med_Expire_Before_Date(exp_date):
    patient_query4 = '''
    SELECT pt.patient_id, CONCAT(pt.patient_fname, ' ', pt.patient_lname) AS full_name, m.med_name, m.expiration_date
    FROM Patients pt
    JOIN Prescriptions p ON pt.patient_id = p.patient_id
    JOIN Medications m ON p.med_id = m.med_id
    WHERE m.expiration_date < '{exp_date}'
    '''.format(exp_date=exp_date)
    return patient_query4

conn = mysql.connector.connect(**config)
cursor = conn.cursor()

print(patient_query1_desc)
executeQ(patient_query1)
print("\n")
print(patient_query2_desc)
executeQ(patient_query2)
print("\n")
print(patient_query3_desc)
executeQ(Patient_Insur_Med_Doc('Excellus BlueCross BlueShield'))
print("\n")
print(patient_query4_desc)
executeQ(Patient_Med_Expire_Before_Date('2024-05-17'))


conn = mysql.connector.connect(**config)
cursor = conn.cursor()

All patient names along with the total cost of all their prescriptions
(1001, 'Odessa', 'Lindemann', Decimal('4864.00'))
(1002, 'Candi', 'Claudine', Decimal('5425.00'))
(1003, 'Sheree', 'Maurine', Decimal('15466.00'))
(1004, 'Merle', 'Marisa', Decimal('20425.00'))
(1005, 'Beverley', 'Azeria', Decimal('5445.00'))
(1006, 'Theodora', 'Prober', Decimal('6384.00'))
(1007, 'Brietta', 'Shaver', Decimal('13801.00'))
(1008, 'Cherilyn', 'Ummersen', Decimal('14288.00'))
(1009, 'Esmeralda', 'Noelyn', Decimal('7392.00'))
(1010, 'Teriann', 'Alisia', Decimal('5504.00'))
(1011, 'Hallie', 'Japeth', Decimal('20904.00'))
(1012, 'Estell', 'Merell', Decimal('15428.00'))
(1013, 'Alameda', 'Hermes', Decimal('12483.00'))
(1014, 'Genevra', 'Linehan', Decimal('3654.00'))
(1015, 'Mallory', 'Krystle', Decimal('17688.00'))
(1016, 'Jasmina', 'Lindemann', Decimal('5054.00'))
(1017, 'Lacie', 'Armanda', Decimal('13244.00'))
(1018, 'Philis', 'Curren', Decimal('20493.00'))
(1019, 'Millie', 'Pulsifer', Decimal('23529.00'))
(1020, 'Rani', 'Jarib', Decimal('10496.00'))
(1021, 'Mellicent', 'Ferrell', Decimal('19698.00'))
(1022, 'Caritta', 'Odysseus', Decimal('9842.00'))
(1023, 'Zsa Zsa', 'Dulciana', Decimal('8100.00'))
(1024, 'Netty', 'Felizio', Decimal('12103.00'))
(1025, 'Genovera', 'Cressida', Decimal('3968.00'))
(1026, 'Quintina', 'ONeill', Decimal('17723.00'))
(1027, 'Viviene', 'Berriman', Decimal('9180.00'))
(1028, 'Gwenneth', 'Obed', Decimal('7128.00'))
(1029, 'Beatriz', 'Federica', Decimal('11305.00'))
(1030, 'Esmeralda', 'Aldric', Decimal('1836.00'))
(1031, 'Raina', 'Ethban', Decimal('6825.00'))
(1032, 'Marline', 'Anderea', Decimal('12654.00'))
(1033, 'Jacenta', 'Haldas', Decimal('9184.00'))
(1034, 'Deirdre', 'Kazimir', Decimal('2898.00'))
(1035, 'Camile', 'Vernier', Decimal('8856.00'))
(1036, 'Trixi', 'Selway', Decimal('16416.00'))
(1037, 'Mignon', 'Louanna', Decimal('17765.00'))
(1038, 'Sonni', 'Trace', Decimal('4914.00'))
(1039, 'Kirstin', 'Junie', Decimal('4961.00'))
(1040, 'Averyl', 'Rurik', Decimal('4530.00'))
(1041, 'Winny', 'Chauncey', Decimal('6413.00'))
(1042, 'Bee', 'Melony', Decimal('10710.00'))
(1043, 'Sean', 'Lytton', Decimal('23254.00'))
(1044, 'Harmonia', 'Ferino', Decimal('19684.00'))
(1045, 'Theodora', 'Genna', Decimal('8890.00'))
(1046, 'Cyndie', 'Dituri', Decimal('10692.00'))
(1047, 'Rosanne', 'Cloris', Decimal('6650.00'))
(1048, 'Marguerite', 'Lymann', Decimal('7260.00'))
(1049, 'Kara-Lynn', 'Pauly', Decimal('44175.00'))
(1050, 'Mahalia', 'Parsaye', Decimal('7452.00'))


Find the patients who have been prescribed medication with dosage higher than average
(1003, 'Sheree', 'Maurine')
(1012, 'Estell', 'Merell')
(1013, 'Alameda', 'Hermes')
(1018, 'Philis', 'Curren')
(1019, 'Millie', 'Pulsifer')
(1020, 'Rani', 'Jarib')
(1022, 'Caritta', 'Odysseus')
(1023, 'Zsa Zsa', 'Dulciana')
(1024, 'Netty', 'Felizio')
(1027, 'Viviene', 'Berriman')
(1028, 'Gwenneth', 'Obed')
(1029, 'Beatriz', 'Federica')
(1036, 'Trixi', 'Selway')
(1037, 'Mignon', 'Louanna')
(1042, 'Bee', 'Melony')
(1043, 'Sean', 'Lytton')
(1044, 'Harmonia', 'Ferino')
(1045, 'Theodora', 'Genna')
(1046, 'Cyndie', 'Dituri')
(1048, 'Marguerite', 'Lymann')
(1049, 'Kara-Lynn', 'Pauly')
(1050, 'Mahalia', 'Parsaye')


Find patient information who have a specific insurance type along with prescribing doctor and dosage
(1001, 'Odessa Lindemann', 'Zithromax', 38, 'Dr.Patel')
(1007, 'Brietta Shaver', 'Plavix', 37, 'Dr.Sullivan')
(1021, 'Mellicent Ferrell', 'Aspirin', 49, 'Dr.Sullivan')
(1025, 'Genovera Cressida', 'Zithromax', 31, 'Dr.Sullivan')
(1031, 'Raina Ethban', 'Amoxicillin', 39, 'Dr.Patel')
(1033, 'Jacenta Haldas', 'Cannabis', 28, 'Dr.Nguyen')
(1035, 'Camile Vernier', 'Albuterol', 54, 'Dr.Patel')
(1037, 'Mignon Louanna', 'Xanax', 85, 'Dr.Nguyen')
(1038, 'Sonni Trace', 'Ventolin', 39, 'Dr.Rodriguez')
(1044, 'Harmonia Ferino', 'Ibuprofen', 74, 'Dr.Nguyen')


Find patient whos medicine will expire before a given date
(1001, 'Odessa Lindemann', 'Zithromax', datetime.date(2024, 3, 25))
(1008, 'Cherilyn Ummersen', 'Zoloft', datetime.date(2024, 4, 10))
(1010, 'Teriann Alisia', 'Zithromax', datetime.date(2024, 3, 25))
(1011, 'Hallie Japeth', 'Aspirin', datetime.date(2024, 3, 31))
(1015, 'Mallory Krystle', 'Aspirin', datetime.date(2024, 3, 31))
(1016, 'Jasmina Lindemann', 'Nexium', datetime.date(2024, 3, 18))
(1020, 'Rani Jarib', 'Albuterol', datetime.date(2024, 1, 10))
(1021, 'Mellicent Ferrell', 'Aspirin', datetime.date(2024, 3, 31))
(1022, 'Caritta Odysseus', 'Nexium', datetime.date(2024, 3, 18))
(1024, 'Netty Felizio', 'Nexium', datetime.date(2024, 3, 18))
(1025, 'Genovera Cressida', 'Zithromax', datetime.date(2024, 3, 25))
(1029, 'Beatriz Federica', 'Nexium', datetime.date(2024, 3, 18))
(1032, 'Marline Anderea', 'Tylenol', datetime.date(2024, 1, 26))
(1033, 'Jacenta Haldas', 'Cannabis', datetime.date(2024, 2, 5))
(1035, 'Camile Vernier', 'Albuterol', datetime.date(2024, 1, 10))
(1047, 'Rosanne Cloris', 'Nexium', datetime.date(2024, 3, 18))

In [215]:
# --Prescription Table Queries--


prescrip_query1_desc = "Medications never prescribed"
prescrip_query1 = '''
SELECT m.med_id, m.med_name
FROM Medications m
LEFT JOIN Prescriptions p ON m.med_id = p.med_id
WHERE p.med_id IS NULL
'''

prescrip_query2_desc = "Prescriptions grouped by the most prescribed medicine"
prescrip_query2 = '''
SELECT m.med_id, m.med_name, COUNT(*) AS prescription_count
FROM Prescriptions p
JOIN Medications m ON p.med_id = m.med_id
GROUP BY m.med_id, m.med_name
ORDER BY prescription_count DESC

'''

prescrip_query3_desc = "Retrieve Prescription Information within a certain date range (YY-MM-DD)"
def Prescrip_Date_Range(start, end):
    prescrip_query3 = '''
    SELECT p.prescription_id, p.dosage, p.date_prescribed, p.prescribing_doctor, m.med_name, m.unit_price, pt.patient_fname, pt.patient_lname
    FROM Prescriptions p
    JOIN Medications m ON p.med_id = m.med_id
    JOIN Patients pt ON p.patient_id = pt.patient_id
    WHERE date_prescribed BETWEEN '{start}' AND '{end}'
        '''.format(start=start, end=end)
    return prescrip_query3

prescrip_query4_desc = "Find all prescription information based on medication name"

def Prescrip_Med_Name(med_name):
    prescrip_query4 = '''
    SELECT p.*, pt.patient_fname, pt.patient_lname
    FROM Prescriptions p
    JOIN Medications m ON p.med_id = m.med_id
    JOIN Patients pt ON p.patient_id = pt.patient_id
    WHERE m.med_name = '{med_name}'
    '''.format(med_name=med_name)
    return(prescrip_query4)



conn = mysql.connector.connect(**config)
cursor = conn.cursor()

print(prescrip_query1_desc)
executeQ(prescrip_query1)
print("\n")
print(prescrip_query2_desc)
executeQ(prescrip_query2)
print("\n")
print(prescrip_query3_desc)
executeQ(Prescrip_Date_Range('2022-01-10', '2023-01-01'))
print("\n")
print(prescrip_query4_desc)
executeQ(Prescrip_Med_Name('Ibuprofen'))


conn = mysql.connector.connect(**config)
cursor = conn.cursor()

Medications never prescribed
(3, 'Acetaminophen')
(5, 'Metformin')
(8, 'Prozac')
(17, 'Crestor')
(20, 'Celebrex')
(24, 'Metoprolol')
(28, 'Augmentin')


Prescriptions grouped by the most prescribed medicine
(11, 'Nexium', 5)
(19, 'Prilosec', 4)
(23, 'Ventolin', 4)
(1, 'Aspirin', 3)
(2, 'Ibuprofen', 3)
(12, 'Zithromax', 3)
(26, 'Ciprofloxacin', 3)
(30, 'Adderall', 3)
(6, 'Lipitor', 2)
(14, 'Synthroid', 2)
(18, 'Albuterol', 2)
(21, 'Xanax', 2)
(22, 'Benadryl', 2)
(25, 'Flonase', 2)
(27, 'Ritalin', 2)
(4, 'Amoxicillin', 1)
(7, 'Zoloft', 1)
(9, 'Tylenol', 1)
(10, 'Advil', 1)
(13, 'Prednisone', 1)
(15, 'Lisinopril', 1)
(16, 'Plavix', 1)
(29, 'Cannabis', 1)


Retrieve Prescription Information within a certain date range (YY-MM-DD)
(10001, 38, datetime.date(2022, 4, 2), 'Dr.Patel', 'Zithromax', Decimal('128.00'), 'Odessa', 'Lindemann')
(10002, 25, datetime.date(2022, 3, 1), 'Dr.Collins', 'Advil', Decimal('217.00'), 'Candi', 'Claudine')
(10003, 74, datetime.date(2022, 3, 3), 'Dr.Thompson', 'Xanax', Decimal('209.00'), 'Sheree', 'Maurine')
(10004, 43, datetime.date(2022, 10, 23), 'Dr.Sullivan', 'Benadryl', Decimal('475.00'), 'Merle', 'Marisa')
(10005, 45, datetime.date(2022, 5, 29), 'Dr.Rodriguez', 'Prilosec', Decimal('121.00'), 'Beverley', 'Azeria')
(10006, 24, datetime.date(2022, 7, 25), 'Dr.Rodriguez', 'Ibuprofen', Decimal('266.00'), 'Theodora', 'Prober')
(10007, 37, datetime.date(2022, 4, 13), 'Dr.Sullivan', 'Plavix', Decimal('373.00'), 'Brietta', 'Shaver')
(10008, 38, datetime.date(2022, 3, 28), 'Dr.Sullivan', 'Zoloft', Decimal('376.00'), 'Cherilyn', 'Ummersen')
(10009, 24, datetime.date(2022, 6, 26), 'Dr.Thompson', 'Flonase', Decimal('308.00'), 'Esmeralda', 'Noelyn')
(10011, 52, datetime.date(2022, 1, 13), 'Dr.Thompson', 'Aspirin', Decimal('402.00'), 'Hallie', 'Japeth')
(10012, 58, datetime.date(2022, 12, 22), 'Dr.Mitchell', 'Ibuprofen', Decimal('266.00'), 'Estell', 'Merell')
(10013, 73, datetime.date(2022, 10, 13), 'Dr.Sullivan', 'Lipitor', Decimal('171.00'), 'Alameda', 'Hermes')
(10014, 29, datetime.date(2022, 6, 1), 'Dr.Nguyen', 'Ventolin', Decimal('126.00'), 'Genevra', 'Linehan')
(10017, 43, datetime.date(2022, 5, 7), 'Dr.Sullivan', 'Flonase', Decimal('308.00'), 'Lacie', 'Armanda')
(10018, 81, datetime.date(2022, 12, 7), 'Dr.Collins', 'Synthroid', Decimal('253.00'), 'Philis', 'Curren')
(10020, 64, datetime.date(2022, 2, 10), 'Dr.Bennett', 'Albuterol', Decimal('164.00'), 'Rani', 'Jarib')
(10021, 49, datetime.date(2022, 12, 9), 'Dr.Sullivan', 'Aspirin', Decimal('402.00'), 'Mellicent', 'Ferrell')
(10022, 74, datetime.date(2022, 4, 21), 'Dr.Collins', 'Nexium', Decimal('133.00'), 'Caritta', 'Odysseus')
(10025, 31, datetime.date(2022, 9, 3), 'Dr.Sullivan', 'Zithromax', Decimal('128.00'), 'Genovera', 'Cressida')
(10028, 66, datetime.date(2022, 4, 17), 'Dr.Patel', 'Adderall', Decimal('108.00'), 'Gwenneth', 'Obed')
(10030, 17, datetime.date(2022, 6, 27), 'Dr.Thompson', 'Ciprofloxacin', Decimal('108.00'), 'Esmeralda', 'Aldric')
(10031, 39, datetime.date(2022, 6, 24), 'Dr.Patel', 'Amoxicillin', Decimal('175.00'), 'Raina', 'Ethban')
(10032, 37, datetime.date(2022, 4, 11), 'Dr.Collins', 'Tylenol', Decimal('342.00'), 'Marline', 'Anderea')
(10033, 28, datetime.date(2022, 8, 21), 'Dr.Nguyen', 'Cannabis', Decimal('328.00'), 'Jacenta', 'Haldas')
(10034, 23, datetime.date(2022, 3, 16), 'Dr.Collins', 'Ventolin', Decimal('126.00'), 'Deirdre', 'Kazimir')
(10035, 54, datetime.date(2022, 3, 4), 'Dr.Patel', 'Albuterol', Decimal('164.00'), 'Camile', 'Vernier')
(10036, 96, datetime.date(2022, 8, 24), 'Dr.Bennett', 'Lipitor', Decimal('171.00'), 'Trixi', 'Selway')
(10038, 39, datetime.date(2022, 3, 6), 'Dr.Rodriguez', 'Ventolin', Decimal('126.00'), 'Sonni', 'Trace')
(10039, 41, datetime.date(2022, 2, 6), 'Dr.Mitchell', 'Prilosec', Decimal('121.00'), 'Kirstin', 'Junie')
(10040, 15, datetime.date(2022, 7, 25), 'Dr.Mitchell', 'Ritalin', Decimal('302.00'), 'Averyl', 'Rurik')
(10041, 53, datetime.date(2022, 11, 2), 'Dr.Collins', 'Prilosec', Decimal('121.00'), 'Winny', 'Chauncey')
(10042, 85, datetime.date(2022, 8, 27), 'Dr.Nguyen', 'Ventolin', Decimal('126.00'), 'Bee', 'Melony')
(10044, 74, datetime.date(2022, 3, 27), 'Dr.Nguyen', 'Ibuprofen', Decimal('266.00'), 'Harmonia', 'Ferino')
(10046, 99, datetime.date(2022, 1, 10), 'Dr.Mitchell', 'Ciprofloxacin', Decimal('108.00'), 'Cyndie', 'Dituri')
(10049, 93, datetime.date(2022, 9, 10), 'Dr.Mitchell', 'Benadryl', Decimal('475.00'), 'Kara-Lynn', 'Pauly')


Find all prescription information based on medication name
(10006, 2, 1006, 24, datetime.date(2022, 7, 25), 'Dr.Rodriguez', 'Theodora', 'Prober')
(10012, 2, 1012, 58, datetime.date(2022, 12, 22), 'Dr.Mitchell', 'Estell', 'Merell')
(10044, 2, 1044, 74, datetime.date(2022, 3, 27), 'Dr.Nguyen', 'Harmonia', 'Ferino')

In [216]:
cursor.close()
conn.close()